{% extends 'frontend.html.twig' %}

{% block title %}Formularios{% endblock %}

{% block body %}
<h1>Formularios</h1>

composer require symfony/form
<ul>

    <li><a href="{{path('form_simple')}}">Formulario simple</a></li>
    <li><a href="{{ path('form_entity')}}">Formulario entity</a></li>
    <li><a href="#">Formulario type gorm</a></li>

</ul>
{% endblock %}
